body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 16px auto;
  background: #f9f9fa;
  color: #333;
  width: 80%;
  max-width: 400px;
}

h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

label {
  display: block;
  margin-top: 10px;
}

select,
input[type="date"],
button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background-color: #007aff;
  color: white;
  border: none;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #005fdb;
}
